@import "../node_modules/bootstrap/scss/bootstrap";

.nav-item {
  font-size: larger !important;
}

.bi {
  color: green !important;
}

.nav-link {
 color: #379A87;
}

.nav-item-footer {
  padding-left: 20px !important;
  margin-left: 20px !important;
}